.container {
  position: relative;
  width: 600px;
  height: 448px;
}

.img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promptContainer {
  position: absolute;
  bottom: 24px;
  right: 0;
  padding: 16px;
  width: 300px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
}